<mat-card class="example-container">
  <mat-card-header class="center-content color-Header">
    <h2 class="text-center header-title">Smart Plug</h2>
  </mat-card-header>
  <div class="img-center">
    <img mat-card-image src="{{strimg}}" alt="Photo of plug">
  </div>

  <mat-card-content>
    <h4 class="text-center">Device Number 1</h4>
  </mat-card-content>

  <mat-card-actions class="text-center color-Header">
    <button mat-raised-button color="primary" (click)="SwitchOn()">Connect</button>
    <button mat-raised-button color="warn" (click)="SwitchOff()">Disconnect</button>
  </mat-card-actions>
</mat-card>
